# ── Environment & secrets ─────────────────────────────────────────────────────
.env

# ── Python ────────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ── Virtual environment ───────────────────────────────────────────────────────
cataract_env/
venv/
env/

# ── Database ──────────────────────────────────────────────────────────────────
*.db


# ── Jupyter ───────────────────────────────────────────────────────────────────
.ipynb_checkpoints/
*.ipynb

# ── Build / dist ──────────────────────────────────────────────────────────────
.dist/
dist/
build/
*.egg-info/

# ── OS ────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
